
@import "../../../shared/styles/settings/colors";

.view {
  padding-bottom: 4rem;
  box-sizing: border-box;

  .error {
    padding: 1rem;
    box-sizing: border-box;
    background-color: $primary-color;
    border-radius: .4rem;
    color: white;
    font-weight: bold;
  }

  .inputs {
    display: flex;
    margin: 1rem 0 3rem 0;
  }
}

@media (max-width: 600px) {
  .view {
    .inputs {
      display: flex;
      flex-direction: column;
      // margin: 3rem 0;
    }
  }
}